.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.prettierrc.js
commitlint.config.js
.husky/**
lint-staged.config.js
.markdownlint-cli2.cjs
.prettierignore